/* styles.css */

body {
    font-family: "Kode Mono", monospace;
    font-size: small;
    background-image: url("https://i.pinimg.com/originals/66/1b/53/661b5333e2d072a7b03bc06cf10d9352.gif");
    background-size: cover;
    background-color: rgba(13, 79, 26, 0.8);
    background-blend-mode: overlay;
    color: rgba(39, 185, 68, 1);
}

h1 {
    border-style: dotted dashed solid double;
    text-align: center;
    /* font-family: "Jacquarda Bastarda 9", serif; */
    font-family: "windowsregular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h6 {
    position: relative;
    animation-name: sliding;
    transition-timing-function: linear;
    animation-direction: normal;
}

/* .userinfobox {
    font-family: "Kode Mono", monospace;
    font-size: small;
    width: 400px;
    height: 400px;
    border: 15px solid green;
    padding: 20px;
    margin: 10px;
    color: rgba(39, 185, 68, 1);
    background-image: url("obj/user_box.gif");
    overflow: auto;
} */

.userinfo {
    margin-left: 200px; /* Adjust margin to accommodate the floated image */
}

.avatar-container {
    margin-right: 20px;
    float: left; /* Float the container instead of the image */
}

.avatar {
    width: 200px;
    height: auto;
}

/* Link when it has not been visited */
.custom-link:link {
    color: rgba(39, 185, 68, 1); /* Change the color for unvisited link */
}

/* Link when it has been visited */
.custom-link:visited {
    color: rgb(5, 97, 24); /* Change the color for visited link */
}

/* Link when it is being clicked */
.custom-link:active {
    color: rgb(42, 78, 35); /* Change the color for active link */
}

.underline {
    text-decoration: underline; /* Add underline to the specified part */
}

.container {
    display: flex;
}

.userinfobox {
    width: 400px;
    flex-shrink: 0;
    font-family: "Kode Mono", monospace;
    font-size: small;
    height: 400px;
    border: 15px solid green;
    padding: 20px;
    margin-right: 20px;
    color: rgba(39, 185, 68, 1);
    background-image: url("obj/user_box.gif");
    overflow: auto; /* Clear floats */
}

.second-box {
    flex: 1;
    max-width: 558px;
    height: 400px;
    border: 15px solid green;
    /* Styles for the second box */
}


/*      Fonts        */

@font-face {
    font-family: 'starbornregular';
    src: url('fonts/starborn-webfont.woff2') format('woff2'),
         url('fonts/starborn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'starbornregular';
    src: url('fonts/starborn-webfont.woff2') format('woff2'),
         url('fonts/starborn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adeliaregular';
    src: url('fonts/adelia-webfont.woff2') format('woff2'),
         url('fonts/adelia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'porkysregular';
    src: url('fonts/porkys_-webfont.woff2') format('woff2'),
         url('fonts/porkys_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'planet_kosmosregular';
    src: url('fonts/plank___-webfont.woff2') format('woff2'),
         url('fonts/plank___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothic_warregular';
    src: url('fonts/gothic_war-webfont.woff2') format('woff2'),
         url('fonts/gothic_war-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ghastly_panicregular';
    src: url('fonts/ghastly_panic-webfont.woff2') format('woff2'),
         url('fonts/ghastly_panic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baby_dollregular';
    src: url('fonts/baby_doll-webfont.woff2') format('woff2'),
         url('fonts/baby_doll-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baby_dollregular';
    src: url('fonts/baby_doll-webfont.woff2') format('woff2'),
         url('fonts/baby_doll-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'winkleregular';
    src: url('fonts/winkle-regular-webfont.woff2') format('woff2'),
         url('fonts/winkle-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'winkleregular';
    src: url('fonts/winkle-regular-webfont.woff2') format('woff2'),
         url('fonts/winkle-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'windowsregular';
    src: url('fonts/windows_regular-webfont.woff2') format('woff2'),
         url('fonts/windows_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 29, 2024 */