  body {
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: 100vh; /* Ensure body fills viewport height */
    background-color: rgb(246, 255, 245);
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
  }

  .text {
    word-spacing: 0px;
    color:rgb(54, 78, 51);
  } .txtctn {
    word-spacing: 15px;
    padding-left: 20px;
  } .txtctn c1, .morectn c1, .exctn c1, .c1 {
    color:rgb(84, 136, 77);
  } .txtctn c2, .morectn c2, .exctn c2, .c2 {
    color:rgb(122, 233, 107);
  } .txtctn c3, .morectn c3, .exctn c3, .c3 {
    color:rgb(54, 78, 51);
  } .txtctn c4, .morectn c4, .exctn c4, .c4 {
    color:rgb(19, 136, 4)
  }

  .imgctn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .imgctn img {
    width: 700px;
    height: auto;
    margin-top: 10px;
  }

  .luciactn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .sclctn {
    flex: 1;
    font-family: 'subwaycircle';
    background-color: rgb(235, 255, 232);
    border-style: dashed;
    border-color: rgb(220, 255, 215);
    color: rgb(54, 78, 51);
    margin-bottom: 20px;
  }
  .sclctn img {
    margin-top: 5px;
    width: 48px;
    height: 48px;
  }

  .txtctn {
    flex: 4;
    font-family: 'subwaycircle';
    margin-bottom: 20px;
  }

  .infoctn {
    display: flex;
    text-align: center;
  }
  .xtractn {
    display: flex;
    text-align: center;
    border-style: dashed hidden hidden hidden;
    border-color: rgb(220, 255, 215);
  }

  .pfpctn {
    flex: 1;
    margin-left: 50px;
    margin-top: 20px;
  }

  .morectn {
    flex: 2;
    word-spacing: 15px;
    font-family: 'subwaycircle';
    background-color: rgb(235, 255, 232);
    border-style: dashed;
    border-color: rgb(220, 255, 215);
    color: rgb(54, 78, 51);
    width: 250px;
    margin-right: 50px;
    margin-top: 20px;
    line-height: 50px;
  }

  .exctn {
    word-spacing: 2px;
    font-family: 'subwaycircle';
    background-color: rgb(235, 255, 232);
    border-style: dashed;
    text-align: center;
    border-color: rgb(220, 255, 215);
    color: rgb(54, 78, 51);
    max-width: 650px;
    margin-top: 20px;
    display: none;
  }
  
  .buttons {
    border: none;
    font-family: 'subwaycircle';
    font-size: 16px;
    background: none;
    outline: none;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
}

  #shake:hover img { 
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
  -webkit-filter:blur(1px); 
  -webkit-transition: .5s ease-in; 
  }
  
  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .prinzessin mark { 
    font-family: arial;
    font-size:2em;
    font-weight:bold;
    background: none;
    color:black;
    animation: princess 2s infinite;
    animation-timing-function: cubic-bezier(0.25, 0.85, 0.4, 1);
    }

    .prinzessin mark:nth-child(1) { 
      animation-delay:0s; display:inline-block;
    } .prinzessin mark:nth-child(2) {
      animation-delay:0.2s; display:inline-block;
    } .prinzessin mark:nth-child(3) { 
      animation-delay:0.4s; display:inline-block;
    } .prinzessin mark:nth-child(4) {
      animation-delay:0.6s; display:inline-block;
    } .prinzessin mark:nth-child(5) { 
      animation-delay:0.8s; display:inline-block;
    } .prinzessin mark:nth-child(6) {
      animation-delay:1s; display:inline-block;
    } .prinzessin mark:nth-child(7) { 
      animation-delay:1.2s; display:inline-block;
    } .prinzessin mark:nth-child(8) {
      animation-delay:1.4s; display:inline-block;
    } .prinzessin mark:nth-child(9) { 
      animation-delay:1.6s; display:inline-block;
    } .prinzessin mark:nth-child(10) {
      animation-delay:1.8s; display:inline-block;
    } .prinzessin mark:nth-child(11) { 
      animation-delay:2s; display:inline-block;
    } .prinzessin mark:nth-child(12) {
      animation-delay:2.2s; display:inline-block;
    }

    @keyframes princess {
      from {
          transform:scale(0.90);
          color:rgb(20, 32, 20);
      } 50% {
          transform:scale(1);
          color:rgb(85, 230, 66);
      } to {
          transform:scale(0.90);
          color:rgb(20, 32, 20);
          }
      }

  @font-face {
  font-family: 'subwaycircle';
  src: url(https://files.catbox.moe/94qphb.otf);
  }
